# Add any directories, files, or patterns you don't want to be tracked by version control
target/
.idea/
*.iml
*.project
*.settings
rebel.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
